* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* .calculator-grid{
    height: 100vh;
    width: 100vw;
    border: 10px solid green; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    background: #F6F6F6;
} */

.calculator-grid {
    height: 100vh;
    width: 100vw;
    border: 10px solid green;
background-repeat: no-repeat;
background-position: center top;
overflow: hidden
}



