* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Rubik', sans-serif; 
    font-weight: normal;
}

/* .calculator-grid{
    height: 100vh;
    width: 100vw;
    border: 10px solid green; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    background: #F6F6F6;
} */

.calculator-grid {
    height: 100vh;
    width: 100vw;
    /* border: 10px solid green; */
background-repeat: no-repeat;
background-position: center top;
overflow: hidden;
background: linear-gradient(to right, #e66465, #9198e5);
display: grid;
min-height: 100vh;
    /* justify-content: center;
    align-content: center; */
/* grid-template-columns: repeat(4, 100px); */
/* We want the rows to grow as large as they need to and wrap around, set minmax so 
at a minimum we want the rows 120px tall and then grow as needed */
/* grid-template-rows: minmax(120px, auto) repeat(5, 100px); */

  grid-template-columns: repeat(4, auto);
    grid-template-rows: minmax(auto, auto) repeat(5, auto);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    /* the last value is opacity */
    background-color: rgba(255, 255, 255, .90);
}

.output {
    /* span from the first to the last column */
    grid-column: 1 / -1;
    /* want it to be black this time */
    background-color: rgba(0, 0, 0, .75);
    /* align the items inside of the container */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /* Need to wrap since numbers can get long, break the number in the middle
    not just end of line or space and break all words*/
    word-wrap: break-word; 
    word-break: break-all;
    
}

.output .expression {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .result {
    color: white;
    font-size: 2.5rem;
}



