*, *::before, *::after {
    /* makes things easier to style our elements */
    box-sizing: border-box; 
    /* set font family here so that it applies to all elements */
    font-family: 'Rubik', sans-serif; 
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body{
    /* remove padding and margin so that background fills entire screen */
    /* padding: 0;
    margin: 0; */
    /* first color is on left, second color goes to right */
    background: linear-gradient(to right, #e66465, #9198e5);

}

.calculator-grid {
    display: grid;
    /* center all items */
    justify-content: center;
    align-content: center;
    /* This is not yet centered vertically becuz calc grid does not take up
    full height, take a look at border to see this.  */
    /* takes up 100% of the view height all of the time */
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    /* We want the rows to grow as large as they need to and wrap around, set minmax so 
    at a minimum we want the rows 120px tall and then grow as needed */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    /* the last value is opacity */
    background-color: rgba(255, 255, 255, .90);
}

.output {
    /* span from the first to the last column */
    grid-column: 1 / -1;
    /* want it to be black this time */
    background-color: rgba(0, 0, 0, .75);
    /* align the items inside of the container */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /* Need to wrap since numbers can get long, break the number in the middle
    not just end of line or space and break all words*/
    word-wrap: break-word; 
    word-break: break-all;
}

.output .expression {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .result {
    color: white;
    font-size: 2.5rem;
}

@media (max-width: 812px) {
    .calculator-grid {
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    justify-content: initial;
    align-content: initial;
    background-repeat: no-repeat;
    background-position: center top;
    background: linear-gradient(to right, #e66465, #9198e5);
    min-height: 100vh;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: minmax(auto, auto) repeat(5, auto);
    }
  }


