* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    height: 100vh;
    width: 100vw;
    /* 
    text-align: center;
    background-color: #FFFFFC;
    color: #333333;*/
    border: 10px solid green; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    /* margin: auto; */
    display: grid;
    width: 30%;
    /* grid-template-columns: 80px 200px auto 30px; */
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: 45px 45px 45px 45px; */
    /* grid-template-rows: 45px 45px 45px 45px 45px 45px; */
    /* grid-template-rows: 45px 45px 45px 45px 45px; */
    grid-gap: 3px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > button {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    /* border: 3px solid red; */
  }

  .console {
    grid-column: 1 / span 4;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
    border: 3px solid pink;
    font-size: 30px;
    display: grid;
    text-align: right;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .result {
    /* height: 50%; */
    /* height: 60%; */
    padding: 30px 10px;
    border: 2px solid green;
  }

  .expression {
    /* height: 40%; */
    padding: 10px 10px;
      border: 2px solid lightcoral;
  }

  /* Responsive layout - make calculator full screen on phones */
@media (max-width: 800px) {
    .grid-container {
      width: 100%;
      height: 100%;
    }
}