*, *::before, *::after {
    /* makes things easier to style our elements */
    box-sizing: border-box; 
    /* set font family here so that it applies to all elements */
    font-family: 'Rubik', sans-serif; 
    font-weight: normal;
}

body{
    /* remove padding and margin so that background fills entire screen */
    padding: 0;
    margin: 0;
    /* first color is on left, second color goes to right */
    background: linear-gradient(to right, #e66465, #9198e5);

}

.calculator-grid {
    display: grid;
    /* center all items */
    /* justify-content: center;
    align-content: center; */

    height: 100vh;
    /* width: 100vw; */
    /* min-width: 100vw; */

    grid-template-columns: repeat(4, auto);
    /* grid-template-rows: minmax(auto, auto) repeat(5, 100px); */
    grid-auto-rows: minmax(auto, auto);
    border: 5px solid green;
    
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    /* the last value is opacity */
    background-color: rgba(255, 255, 255, .90);
}
.output {
    /* span from the first to the last column */
    grid-column: 1 / -1;
    /* want it to be black this time */
    background-color: rgba(0, 0, 0, .75);
    /* align the items inside of the container */
    /* display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px; */
    /* Need to wrap since numbers can get long, break the number in the middle
    not just end of line or space and break all words*/
    /* word-wrap: break-word; 
    word-break: break-all; */
}

.output .expression {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .result {
    color: white;
    font-size: 2.5rem;
}