* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Rubik', sans-serif; 
}

body{
    height: 100vh;
    width: 100vw;
    border: 10px solid green; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    background: #F6F6F6;
}

.grid-container {
    display: grid;
    /* width: 30%; */
    grid-template-columns: auto auto auto auto;
    background: #FFFFFF;
    padding: 10px;
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    
    border: 1px solid #FFFFFF;
    box-shadow: 9px 8px 15px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.console {
    grid-column: 1 / span 4;
    text-align: center;
    margin: 0;
    font-size: 30px;
    display: grid;
    text-align: right;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    
  }

  .result {
    padding: 30px 10px;
    font-size: 40px;
    background: #FAFAFA;
  }

  .expression {
    padding: 10px 10px;
    font-size: 20px;
    color: #8F9AA3;
    font-weight: 500;
    background: #FAFAFA;
  }

  button {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin: 4px 2px; 
    -webkit-tap-highlight-color: transparent;
  

  }


  /* button:active {

    lower the opactiy to 12 so it looks a bit darker when you click on key
    background-color: rgba(255, 255, 255, 0.12);
}
  */

  /* Responsive layout - make calculator full screen on phones */
@media (max-width: 800px)  {
    .grid-container {
      width: 100%;
      height: 100%;
    }
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:25px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton2:active {
	position:relative;
	top:1px;
}