* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Rubik', sans-serif; 
}

body{
    height: 100vh;
    width: 100vw;
    border: 10px solid green; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    background: #F6F6F6;
}

.grid-container {
    display: grid;
    width: 30%;
    grid-template-columns: auto auto auto auto;
    background: #FFFFFF;
    /* padding: 0; */
    grid-gap: 10px;
    
    border: 1px solid #FFFFFF;
    box-shadow: 9px 8px 15px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.console {
    grid-column: 1 / span 4;
    text-align: center;
    margin: 0;
    font-size: 30px;
    display: grid;
    text-align: right;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    
  }

  .result {
    padding: 30px 10px;
    font-size: 40px;
    background: #FAFAFA;
  }

  .expression {
    padding: 10px 10px;
    font-size: 20px;
    color: #8F9AA3;
    font-weight: 500;
    background: #FAFAFA;
  }

  button {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin: 4px 2px; 
    -webkit-tap-highlight-color: transparent;
    

  }

  .keyboard_key:active {

    /* lower the opactiy to 12 so it looks a bit darker when you click on key */
    background-color: rgba(255, 255, 255, 0.12);
}
 

  /* Responsive layout - make calculator full screen on phones */
@media (max-width: 800px) {
    .grid-container {
      width: 100%;
      height: 100%;
    }
}